.w-container {
    width: 80%;
    height: auto;
    background-color: blueviolet;
    border-radius: 20px;
    margin: 2vmin;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;

}

.w-container:hover {
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.7);
}

/* CircularImage.css */
.h-circular-image {
    width: 20vmin;
    height: 20vmin;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ccc;
    margin: 2vmin;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div {
    font-size: 2vmin;
}

.com-name {
    width: 25%;
    height: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jobwage-brach {
    width: 35%;
    height: auto;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.want {
    width: 15%;
    height: auto;
    background-color: lawngreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background: rgb(74, 85, 162);
    border-radius: 10px;
}

button:hover {
    color: black;
    background-color: rgb(197, 223, 248);
}
