.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgb(10, 38, 71), rgb(32, 82, 149));
  /* display: block; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.my-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 100vmin; */
  background-color: #fff;
}

.my-div {
  margin-top: 10vmin;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
